body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    padding-bottom: auto;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    position: sticky;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(11, 10, 10);
    /* margin: 6px 1px; */
    padding: 10px;
    text-decoration: none;
    background-color: #E2F8FF;
    border-radius: 5px;

    /* width: 2x */
}

nav ul li a:hover {
    background-color: #ede7e7;
    padding: 10px;
    text-decoration: none;
    background-color: #E2F8FF;
    border-radius: 5px;
    transition: transform 0.38;
}

nav ul li a:hover {
    background-color: #E2F8FF;
    padding: 10px;
    text-decoration: none;
    /* background-color:#E2F8FF; */
    border-radius: 5px;
    transition: transform 0.38;
}

/* navbar styling */
.navbar {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    border-bottom: 2px solid rgb(223, 251, 219);
}

/* logo style  */
.logo img {
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
    border-radius: 5rem;
    transform: scale(1.1);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.35);

}

#nameof {
    font-size: 4vw;
    font-weight: 700;
}

.intro {
    font-size: 5vw;
    font-weight: 700;
}

.hamburger-menu {
    padding-right: 1.5rem;
    cursor: pointer;
}

.hamburger-menu .line {
    display: block;
    width: 2.5rem;
    height: 2px;
    margin-bottom: 10px;
    background-color: black;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 94%;
    top: 6rem;
    left: 18px;
    background-color: #E2F8FF;
    font-weight: 600;

}

.nav-menu a {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.nav-menu a:hover {
    background-color: #E2F8FF;
}

#about {
    background-color: #E2F8FF;
    border-radius: 2rem;
    margin: 0 3vw;
    padding: auto;

}


.aboutme {
    text-align: center;
}





.html {
    width: 5rem;
    height: 2rem;
    margin: 6px auto;
    background-color: #61DAFB;
    border-radius: 2rem;
    padding-top: 20px;
    padding-bottom: 0px;
}

.contain {
    background-color: #E2F8FF;
    border-radius: 2rem;
    text-decoration: none;
    /* text-align: center; */
    border-radius: 2rem;
    margin: 0 3vw;
    padding: auto;
    justify-content: center;
}

.contain p,
h3 {
    margin-left: 20px;
    
}

.contain h4 {
    
    font-size: large;
    /* align-items: center; */
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    
}

.Resume {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.contactme {
    text-align: center;
}

#contact {
    align-items: center;
    justify-content: center;
}

section {
    padding: 20px;
}

.project {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    /* display: flexbox;   */
}

.Project {
    text-align: center;
    align-items: center;
}

#projects {
    background-color: #E2F8FF;
    border-radius: 2rem;
    margin: 0 3vw;
    padding: auto;
    display: flex;
    flex-direction: column;
    
}

.project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project1 ul li {
    list-style: none;
    
}



.project3 {
    display: flexbox;
    
    .project-description {
        max-width: 55vw;
        margin: 20px auto;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
}

.website-link {
    margin-top: 10px;
    display: block;
    font-size: small;

}



.assignment {
    
    width: 48vw;
    transition: width 0.3s ease-in-out;
    padding: 0 4px;
}

.assignment,
video {
    
    border-radius: 14px;
}

/* @media (min-width: 1024px) { 
    
.assignment video {
    width: 60vw; 
}
} */

button {

    z-index: 1;
    position: relative;
    font-size: 20px;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    margin: 2px 3px;
    outline: none;
    border: none;
    background-color: #63c0ef;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}


button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #030303;
    transform-origin: center top;
    transform: scaleY(0);
    transition: transform 0.38s ease-in-out;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}


button:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

.hide {
    display: none;
}

/* for Desktop view  */
@media screen and (min-width:600px) {
    .navbar {
        justify-content: space-around;
    }

    .nav-menu {
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .nav-menu a {
        display: inline-block;
        padding: 15px 20px;
    }

    .nav-menu a:hover {
        background-color: #E2F8FF;
        border-radius: 5px;
    }
    
    .hamburger-menu {
        display: none;
    }
    
}





h2 {
    color: #333;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #0f0f0f;
}

ul {
    padding-left: 20px;
}

ul li {
    font-size: 16px;
    margin-bottom: 5px;
}



a {
    display: inline-block;
    transition: transform 0.3s ease;
    
    .social-images {
        transition: filter 0.3s ease, transform 0.3s ease;
        
    }
    
    .social-images:hover {
        filter: brightness(0) invert(1);
        
        transform: scale(1.2);
        
    }
}

#skills {
    border-radius: 2rem;
    text-align: center;


}

.skills {
    display: flex;
    background-color: #E2F8FF;
    border-radius: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 2rem;
    margin: 0 3vw;
    padding: auto;
    /* list-style: none; */
}

.logos {
    background-color: rgb(234, 234, 234);
    border-radius: 30px;
    padding: 30px 6px;
    margin: 0 3vw;
    
    @media (max-width:1440px) {
        border-radius: 0px;
    }
    
    .marquee {
        
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        user-select: none;
        
        
        .track {
            display: flex;
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            gap: 10px;
            justify-content: space-around;
            
        }
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(-50%);
    }
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #49a9c1;
    color: rgb(42, 37, 37);
    clear: both;
}

.footerimg img {
    width: 30px;
    display: inline-block;


}

.footerimg img:hover {
    filter: brightness(0) invert(1);
    transform: scale(1.2);

}
